contacts {
    margin-left: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #61764B;
    height: 100%;
}

employee {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    color: #CFB997;
}
